<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/products.css" rel="stylesheet">

    <title>
        Carrinho de Compras
    </title>
</head>

<body>
    <%- include('partials/header') %>

        <h1>Carrinho</h1>
        <ul class="list-group mb-3">
            <li class="list-group-item py-3">
                <div class="row g-3">
                    <div class="col-a col-md-3 col-lg-2">

                    </div>
                </div>
            </li>
        </ul>

        <section class="sub-products">

            <% produtosRelacionados.forEach(produto=> { %>
                <div class="item">
                    <img src="<%= produto.image %> " alt="<%= produto.nome %> ">
                    <p>
                        <%= produto.nome %>
                    </p>
                    <span>R$<%= produto.preco %> </span>
                    <a href="/produto/<%=produto.id%>/produtos" class="btn">Comprar</a>
                </div>
                <% }) %>

        </section>

        <%- include('partials/section') %>
            <%- include('partials/footer') %>
</body>

</html>