<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/compra.css" rel="stylesheet">
    <title>
        Compra relizada!
    </title>
</head>

<body>
    <!-- Header da página Home -->

    <%- include('partials/header') %>

        <!-- Header da página Home -->


        <section class="container">
            <div class="image">
                <img src="<%= produt.image %> ">
            </div>
            <div class="description">
                <h2>Compra efetuada</h2>
                <p>Você comprou o produto:
                    <%= produt.nome %> por R$
                        <%=produt.preco %>



                </p>
                <p>Agradecemos a sua preferência!</p>
                <br>
                <hr>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur molestiae magnam culpa velit,
                    magni error, ex debitis assumenda deleniti repudiandae odio cumque consequatur incidunt. A dolores
                    saepe corporis consequuntur sed.</p>

            </div>

        </section>




        <!-- Footer -->

        <%- include('partials/footer') %>

            <!-- Footer -->



</body>

</html>