<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/indoorfeminino.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css" />

    <title>Feminino indoor</title>
</head>

<body>
    <%- include('partials/header') %>

        <%- include('partials/slide') %>

            <section class="produtos">
                <% produtoFem.forEach(produto => { %>
                    <div class="item">
                        <img class="leggin-saia" src=<%=produto.image%> alt=
                        <%= produto.nome %>>
                            <p>
                                <%= produto.nome %>
                            </p>
                            <span>R$<%= produto.preco %> </span>
                    </div>
                    <% })  %>
            </section>

            <!-- <img class="legging-saia" src="/images/calça leggin com saia.jpg" alt="Calça legging com saia">
        <p>Calça legging-saia</p>
        <span>R$95,99</span>
        <a href="/products" class="btn">Comprar</a>
    </div> -->
            <!-- <div class="item">
        <img class="calça-legging" src="/images/calça legging.jpg" alt="Calça legging">
        <p>Calça legging</p>
        <span>R$68,99</span>
        <a href="/products" class="btn">Comprar</a>


    </div>
    <div class="item">
        <img class="conjunto" src="/images/Conjunto.jpg" alt="Conjunto">
        <p>Conjunto</p>
        <span>R$139.90,00</span>
        <a href="/products" class="btn">Comprar</a>


    </div>
    <div class="item">
        <img class="shorts-saia" src="/images/shorts saia.jpg" alt="Shorts saia">
        <p>Shorts saia</p>
        <span>R$39,99</span>
        <a href="/products" class="btn">Comprar</a>


    </div>
    <div class="item">
        <img class="shorts" src="/images/shorts.jpg" alt="Shorts">
        <p>Shorts</p>
        <span>R$69,99</span>
        <a href="/products" class="btn">Comprar</a>


    </div>
    <div class="item">
        <img class="top" src="/images/top fitness.jpg" alt="Top">
        <p>Top fitness</p>
        <span>R$29,99</span>
        <a href="/products" class="btn">Comprar</a>


    </div>
    <div class="item">
        <img class="Adidas" src="/images/tenis adidas.jpg" alt="Tênis Adidas">
        <p>Tênis Adidas</p>
        <span>R$319,99</span>
        <a href="/products" class="btn">Comprar</a>


    </div>
    <div class="item">
        <img class="Nike" src="/images/tenis nike.jpg" alt="Tênis Nike">
        <p>Tênis Nike</p>
        <span>R$299,99</span>
        <a href="/products" class="btn">Comprar</a>


    </div>
    <div class="item">
        <img class="Asics" src="/images/tenis asics.jpg" alt="Tênis Asics">
        <p>Tênis Asics</p>
        <span>R$315,99</span>
        <a href="/products" class="btn">Comprar</a>


    </div> -->

            <!-- Seção de produtos -->


            <!-- Footer -->

            <%- include('partials/footer') %>

                <!-- Footer -->



                <script type="text/javascript" src="/stylesheets/jquery.js"></script>
                <script type="text/javascript" src="/stylesheets/jquery-migrate.js"></script>
                <script type="text/javascript" src="/stylesheets/slick.min.js"></script>
                <script type="text/javascript" src="/main.js"></script>


                <script type="text/javascript" src="/stylesheets/jquery.js"></script>
                <script type="text/javascript" src="/stylesheets/jquery-migrate.js"></script>
                <script type="text/javascript" src="/stylesheets/slick.min.js"></script>
                <script type="text/javascript" src="/main.js"></script>
</body>

</html>