<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css" />
    <title>
        <%= title %>
    </title>
</head>

<body>
    <input type="checkbox" id="menu">
    <label for="menu">&#9776;</label>


    <%- include('partials/header') %>

        <%- include('partials/slide')%>

            <script type="text/javascript" src="/stylesheets/jquery.js"></script>
            <script type="text/javascript" src="/stylesheets/jquery-migrate.js"></script>
            <script type="text/javascript" src="/stylesheets/slick.min.js"></script>
            <script type="text/javascript" src="/main.js"></script>
          
    <%- include('partials/article') %>
 
    <%- include('partials/footer') %>
    
</body>

</html>