<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/masculinoIndoor.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css" />

    <title>
        Masculino
    </title>
</head>

<body>
    <%- include('partials/header') %>

        <%- include('partials/slide') %>

            <section class="produtos">

                <%produtoMasc.forEach(produto=> { %>
                    <div class="item">
                        <img src=<%=produto.image %> alt=
                        <%=produto.nome%> >
                            <p>
                                <%=produto.nome%>
                            </p>
                            <span>R$<%=produto.preco%> </span>
                            <a href="/produto/<%=produto.id%>/produtos" class="btn">Comprar</a>
                    </div>
                    <% })%>
            </section>
            <!-- Seção de produtos -->


            <!-- Footer -->

            <%- include('partials/footer') %>

                <!-- Footer -->



                <script type="text/javascript" src="/stylesheets/jquery.js"></script>
                <script type="text/javascript" src="/stylesheets/jquery-migrate.js"></script>
                <script type="text/javascript" src="/stylesheets/slick.min.js"></script>
                <script type="text/javascript" src="/main.js"></script>


                <script type="text/javascript" src="/stylesheets/jquery.js"></script>
                <script type="text/javascript" src="/stylesheets/jquery-migrate.js"></script>
                <script type="text/javascript" src="/stylesheets/slick.min.js"></script>
                <script type="text/javascript" src="/main.js"></script>
</body>

</html>