<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/products.css" rel="stylesheet">
    <title>
        Produto
    </title>
</head>

<body>
    <!-- Header -->

    <%- include('partials/header') %>

        <!-- Header  -->

        <!-- Imagem e Descrição -->
        <section class="box-description">
            <div class="image">
                <img src=<%=produto.image %> alt=
                <%= produto.nome %> title=
                    <%= produto.nome %> >
            </div>
            <div class="description">
                <h2>
                    <%= produto.nome %>
                </h2>
                <p>
                    <%= produto.descricao %>
                </p>
                <p class="<%=estoque%> "> Estoque: A quantidade é
                    <%= produto.quantidade %>
                </p>

                <% if (produto.quantidadeNoCarrinho) { %>
                    <span>Quantidade no carrinho: <%= produto.quantidadeNoCarrinho %> </span>
                    <% } %>

                        <span>R$<%= produto.preco %> </span>
                        <a href="/carrinho/<%= produto.id %>/add">Adicionar ao carrinho</a>

                        <% if (produto.quantidadeNoCarrinho) { %>
                            <a href="/carrinho/<%= produto.id %>/remove">Remover do carrinho</a>
                            <% } %>

                                <!-- <a href="/produto/<%= produto.id %>/compra">Comprar</a> -->
            </div>
        </section>

        <!-- Imagem e Descrição -->

        <hr>
        <h2>Veja também</h2>


        <!-- Veja outros produtos semelhantes -->

        <section class="sub-products">

            <% produtosRelacionados.forEach(produto=> { %>
                <div class="item">
                    <img src="<%= produto.image %> " alt="<%= produto.nome %> ">
                    <p>
                        <%= produto.nome %>
                    </p>
                    <span>R$<%= produto.preco %> </span>
                    <a href="/produto/<%=produto.id%>/produtos" class="btn">Comprar</a>
                </div>
                <% }) %>

        </section>
        <!-- Veja outros produtos semelhantes -->


        <!-- Footer -->

        <%- include('partials/footer') %>

            <!-- Footer -->

</body>

</html>