<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/products.css" rel="stylesheet">
    <title>
        Produto
    </title>
</head>

<body>
    <!-- Header -->

    <%- include('partials/header') %>

        <!-- Header  -->

        <!-- Imagem e Descrição -->
        <section class="box-description">
            <div class="image">
                <img src=<%=itens.image %> alt=
                <%= itens.nome %> title=
                    <%= itens.nome %> >
            </div>
            <div class="description">
                <h2>
                    <%= itens.nome %>
                </h2>
                <p>
                    <%= itens.descricao %>
                </p>
                <span class="estoque">Em estoque</span>
                <span>R$<%= itens.preco %> </span>
                <a href="/compra">Comprar</a>
            </div>
        </section>

        <!-- Imagem e Descrição -->

        <hr>
        <h2>Veja também</h2>

        <!-- Veja outros produtos semelhantes -->

        <section class="sub-products">
            <div class="item">
                <img src=<%=itens.image %> alt="Halter">
                <p>
                    <%= itens.nome %>
                </p>
                <span>R$<%= itens.preco %> </span>
                <button type="submit">Comprar</button>
            </div>
            <div class="item">
                <img src="/images/halter-4kg.png" alt="Halter">
                <p>Halter 4kg</p>
                <span>R$69,99</span>
                <button type="submit">Comprar</button>
            </div>
            <div class="item">
                <img src="/images/halter-2kg.png" alt="Halter">
                <p>Halter 2kg</p>
                <span>R$39,99</span>
                <button type="submit">Comprar</button>
            </div>
            <div class="item">
                <img src="/images/halter-1kg.jpg" alt="Halter">
                <p>Halter 1kg</p>
                <span>R$29,99</span>
                <button type="submit">Comprar</button>
            </div>
        </section>
        <!-- Veja outros produtos semelhantes -->


        <!-- Footer -->

        <%- include('partials/footer') %>

            <!-- Footer -->

</body>

</html>